.backdrop.is-hidden .movie-modal,
.backdrop-footer.is-hidden .footer-modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 30px;
  height: 30px;
  border: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: #ff6b01;
  }
}
