<!-- auth 2 modals with switch -->
<div class="backdrop is-hidden" data-modal-auth>
  <div class="auth">
    <button type="button" class="btn-close" data-modal-auth-close>
      <svg class="icon-close" width="30" height="30">
        <use href="/src/images/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
    <div class="modal-auth">
      <h2>Login</h2>
      <form class="login auth-form">
        <input
          class="auth-input"
          type="text"
          name="email"
          placeholder="Email"
        />
        <input
          class="auth-input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <button class="modal-btn">Login</button>
        <p class="error"></p>
      </form>
      <div>
        <p class="auth-text">
          Sign in with<button class="switch-link" data-sigin-google>
            Google
          </button>
        </p>
        <p class="auth-text">
          No account? <button class="switch">Register instead</button>
        </p>
      </div>
    </div>
    <div class="modal-auth is-hidden">
      <h2>Register</h2>
      <form class="register auth-form">
        <input
          class="auth-input"
          type="text"
          name="email"
          placeholder="Email"
        />

        <label for="password-auth" class="label-auth-password"
          ><input
            class="auth-input"
            id="password-auth"
            type="password"
            name="password"
            placeholder="Password"
          /><span class="label-password-auth-text"
            >Enter minimum 6 signs</span
          ></label
        >
        <button class="modal-btn">Register</button>
        <p class="error"></p>
      </form>
      <div>Got an account? <button class="switch">Login instead</button></div>
    </div>
  </div>
</div>
