<footer class="footer container">
  <p>&#169; 2022 | All Rights Reserved |</p>
  <div class="footer-wrap">
    <p>&#8201;Developed with</p>
  <svg class="icon-favorite">
    <use href="./images/sprite.svg#icon-favorite"></use>
  </svg>
  <button class="footer-btn" type="button">
    by <span>GoIT Students</span>
  </div>
  </button>
  
</footer>

<!-- ----модалка для футера -->
    
    <div class="backdrop-footer is-hidden" data-footer-modal>

       <div class="footer-modal">
         <button type="button" class="btn-close" data-modal-footer-close>
          <svg class="icon-close" width="30" height="30">
            <use href="./images/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
        <h2 class="footer-title">Cast</h2>
<div class="students">
  <ul class="students-list">
<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/polina-desk.jpg   1x,
                ./images/students/polina-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/polina-tab.jpg    1x,
                ./images/students/polina-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/polina-mob.jpg    1x,
                ./images/students/polina-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/polina.jpg    1x,
                ./images/students/polina2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/polina-desk.jpg'
        alt='Polina'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Polina Telezhynska</h3>
    <p class='member-role'>Role: Team Lead</p>
    <p class='member-location'>Location: Ukraine, Simferopol</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/PelageyaTelezhynska'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/PelageyaTel'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/jelisiej-desk.jpg   1x,
                ./images/students/jelisiej-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/jelisiej-tab.jpg    1x,
                ./images/students/jelisiej-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/jelisiej-mob.jpg    1x,
                ./images/students/jelisiej-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/jelisiej.jpg    1x,
                ./images/students/jelisiej2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/jelisiej-desk.jpg'
        alt='Jelisiej'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Jelisiej Makarov</h3>
    <p class='member-role'>Role: Scrum Master</p>
    <p class='member-location'>Location: Ukraine, Kyiv</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Lisius88'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/Jelisiej'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/sergey-desk.jpg   1x,
                ./images/students/sergey-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/sergey-tab.jpg    1x,
                ./images/students/sergey-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/sergey-mob.jpg    1x,
                ./images/students/sergey-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/sergey.jpg    1x,
                ./images/students/sergey2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/sergey-desk.jpg'
        alt='Sergey'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Sergey Ryabko</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Sergey-Ryabko-84'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/Sergey_Ryabko'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/in/serhii-ryabko-250247255'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/iryna-desk.jpg   1x,
                ./images/students/iryna-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/iryna-tab.jpg    1x,
                ./images/students/iryna-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/iryna-mob.jpg    1x,
                ./images/students/iryna-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/iryna.jpg    1x,
                ./images/students/iryna2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/iryna-desk.jpg'
        alt='Iryna'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Iryna Khorunzha</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine, Symu</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/JustIrish'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/JustIRisha'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/antonina-desk.jpg   1x,
                ./images/students/antonina-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/antonina-tab.jpg    1x,
                ./images/students/antonina-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/antonina-mob.jpg    1x,
                ./images/students/antonina-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/antonina.jpg    1x,
                ./images/students/antonina2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/antonina-desk.jpg'
        alt='Antonina'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Antonina Shyva</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine, Kharkiv</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Tonya-Shyva'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/An_Shy69'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/in/tonya-shyva'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/oleksandr-desk.jpg   1x,
                ./images/students/oleksandr-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/oleksandr-tab.jpg    1x,
                ./images/students/oleksandr-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/oleksandr-mob.jpg    1x,
                ./images/students/oleksandr-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/oleksandr.jpg    1x,
                ./images/students/oleksandr2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/oleksandr-desk.jpg'
        alt='Oleksandr'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Oleksandr Bordiuzhan</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Spain, Zaragoza</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Bordiuzhan'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/Bordiuzhan'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/alyona-desk.jpg   1x,
                ./images/students/alyona-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/alyona-tab.jpg    1x,
                ./images/students/alyona-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/alyona-mob.jpg    1x,
                ./images/students/alyona-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/alyona.jpg    1x,
                ./images/students/alyona2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/alyona-desk.jpg'
        alt='Alyona'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Alyona Kileynikova</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/AlyonaKileynikova'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/Alyona_Kil'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/samira-desk.jpg   1x,
                ./images/students/samira-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/samira-tab.jpg    1x,
                ./images/students/samira-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/samira-mob.jpg    1x,
                ./images/students/samira-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/samira.jpg    1x,
                ./images/students/samira2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/samira-desk.jpg'
        alt='Samira'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Samira Esmail Pur</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine, Kyiv</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Samiraesmailpur'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/samiraesmailpur'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/in/samira-esmail-pur/'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/vitalyi-desk.jpg   1x,
                ./images/students/vitalyi-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/vitalyi-tab.jpg    1x,
                ./images/students/vitalyi-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/vitalyi-mob.jpg    1x,
                ./images/students/vitalyi-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/vitalyi.jpg    1x,
                ./images/students/vitalyi2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/vitalyi-desk.jpg'
        alt='Vitalyi'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Vitalyi Tatarin</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/Betelgeuse22'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/Betelgeuse_22'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/oleh-desk.jpg   1x,
                ./images/students/oleh-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/oleh-tab.jpg    1x,
                ./images/students/oleh-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/oleh-mob.jpg    1x,
                ./images/students/oleh-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/oleh.jpg    1x,
                ./images/students/oleh2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/oleh-desk.jpg'
        alt='Oleh'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Oleh Pavlenko</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine </p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/OlehPavlenko146'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/OlehPavlenko'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>

<li class='member-item'>
  <div class='thumb'>
    <img class='image-frame' src='images/students/frame-mob.png' alt='frame' />
    <picture class="photo">
      <source
        srcset='
                ./images/students/khrystyna-desk.jpg   1x,
                ./images/students/khrystyna-desk2x.jpg 2x
              '
        media='(min-width: 1280px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/khrystyna-tab.jpg    1x,
                ./images/students/khrystyna-tab2x.jpg 2x
              '
        media='(min-width: 768px)'
        type='image/jpg'
      />
      <source
        srcset='
              ./images/students/khrystyna-mob.jpg    1x,
                ./images/students/khrystyna-mob2x.jpg 2x
              '
        media='(min-width: 480px)'
        type='image/jpg'
      />
      <source
        srcset='
                ./images/students/khrystyna.jpg    1x,
                ./images/students/khrystyna2x.jpg 2x
              '
        media='(min-width: 320px)'
        type='image/jpg'
      />
      <img
        class="photo"
        src='./images/students/khrystyna-desk.jpg'
        alt='Khrystyna'
      />
    </picture>
  </div>
  <div class='card'>
    <h3 class='member-name'>Name: Khrystyna Batyo</h3>
    <p class='member-role'>Role: Frontend Developer</p>
    <p class='member-location'>Location: Ukraine, Lviv</p>
    <ul class='social-list'>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://github.com/KristinaBatyo'
          aria-label='GitHub'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-github'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://t.me/kristinabatyo'
          aria-label='Telegram'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-telegram'></use>
          </svg>
        </a>
      </li>
      <li class='social-item'>
        <a
          class='social-link'
          href='https://www.linkedin.com/login/ukr'
          aria-label='Linkedin'
          target='_blank'
          rel='noreferrer noopener nofollow'
        >
          <svg class='icon-soc'>
            <use href='./images/sprite.svg#icon-linkedin'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>
  </ul>

  
</div>
       </div>
    </div>

    
