<main class="movies section">
  <div class="container">
    <!-- прихований герой-заголовок -->
    <h1 class="visually-hidden">Movie trailer searching site</h1>

    <!-- список, у який будуть рендеритися шаблони карток фільмів -->
    <div class="movies__list"></div>

    <!-- ----модалка для картки фільму -->
    <div class="movie-modal"></div>

    <!--  Div для пагінації(хто буде робити її - переробить під себе) -->

    <div class="pagination section">
      <div class="pagination__wrap container">
        <!-- <button class="pagination__arrow pagination__arrow--left" type="button">
          &#60;
        </button>
        <ul class="pagination__pages"></ul>
        <button
          class="pagination__arrow pagination__arrow--right"
          type="button"
        >
          &#62;
        </button> -->
      </div>
    </div>

    <!-- -----------btn scroll to top----------------- -->
    <a href="#search-form" class="to-top">
      <svg width="30" height="30" aria-label="to top">
        <use href="./images/icons-header.svg#arrow-up" />
      </svg>
    </a>
  </div>
</main>
