.genre-select__form {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  
  .genre-select {
    background-color: rgba(90, 5, 10, 0.8);
    color: #fff;
    padding: 6px;
    width: 150px;
    border: none;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    appearance: button;
    outline: none;
  }
  
  .genre-select__form::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .genre-select__form:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .genre-select-option {
    padding: 30px;
  }
