.header-lib {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/header/Rectangle320.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header/Rectangle768.jpg');
  }
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header/Rectangle1200.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header/Rectangle320x2.jpg');
    @include tablet {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/Rectangle768x2.jpg');
    }
    @include desktop {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/Rectangle1200x2.jpg');
    }
  }
}

.header-lib__content {
  position: relative;
}

.library-lib--current {
  border-bottom: 3px solid $accentColor;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;

  @include tablet {
    justify-content: center;
    margin-top: 52px;
  }
}

.btn {
  display: inline-block;
  padding: 0;
  margin: 0;

  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 129.53px;
  height: 44px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @include tablet {
    width: 152px;
  }
}

.queue {
  @include tablet {
    margin-left: 32px;
  }
  @include desktop {
    margin-left: 16px;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #ff6b01;
  border: none;
}

.btn-is-active {
  background-color: #ff6b01;
  border: none;
}
